/* App.css */
.content {
  margin-left: 250px; /* Width of the Sidebar */
  padding: 20px;
}

/* App.css */
.content-container {
  padding-top: 10%; 
  padding-left: 20px; 
  padding-right: 20px; /* Adjust as needed */
}

@media screen and (max-width: 768px) {
  .content-container{
    padding-top: 200px;
  }
}